<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120200207070039.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8bb3bc5c-ab3a-4357-be3a-bf2b7ee9d105/resourcegroups/rg-func-test/providers/Microsoft.Web/sites/FunctionApp120200207070039</ResourceId>
    <UserName>$FunctionApp120200207070039</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapp120200207070039.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>