<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8bb3bc5c-ab3a-4357-be3a-bf2b7ee9d105/resourceGroups/rg-func-test/providers/Microsoft.ContainerRegistry/registries/FunctionApp120200208051912</ResourceId>
    <ResourceName>FunctionApp120200208051912</ResourceName>
    <ResourceGroup>rg-func-test</ResourceGroup>
    <Subscription>sadoshi internal AIRS</Subscription>
    <RegistryUrl>https://functionapp120200208051912.azurecr.io</RegistryUrl>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>